<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="btn-toolbar" role="toolbar" aria-label="...">
		<button type="button" id="addMusic" class="btn btn-success" ng-click="addData(true)" ng-hide="showForm">Add Music</button>
		<button type="button" id="showMusic" class="btn btn-success" ng-click="addData(false)" ng-show="showForm">Show Music</button>
	</div>

		<span ng-hide="showForm"><a id="nextSong" class="nav nav-tabs nav-stacked col-md-2 col-lg-2 col-sm-1" ng-repeat="thing in awesomeThings | limitTo:-1" ng-click="currentSongSelected()" href="/sheetMusicDisplay">Next Song: {{thing.name}}</a></span>

	 	<span ng-if="instrumentSelect.name" ng-hide="showForm">Instrument Selected: {{instrumentSelect.name}}</span>
	 	<span ng-if="songSelect.name" ng-hide="showForm">Song Selected: {{songSelect.name}}</span>
	 	<span ng-hide="showForm">Letter Selected: {{letterSelect}}</span>
	 	<table>
	 		<tr>
	 			<td ng-repeat="letter in letters.letter"><button class="btn btn-primary" ng-click="$parent.letterSelected(letter)">{{letter}}</button></td>
	 		</tr>
	 	</table>

  	<div ng-if="gridOptions.data.length>0" id="gridSheetMusic" ui-grid="gridOptions" class="grid" external-scopes="$scope" ui-grid-auto-resize ui-grid-resize-columns ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ng-style="resize()" ng-hide="showForm">
  	</div>

	<div ng-show="showForm">
		<form class="sheetMusic-form" ng-submit="addSheetMusic()" name="sheetMusicForm" ng-show="showForm">
			<p class="input-group">
		    	<label>Select the Instrument then Enter the Title:</label>
		    	<select class="form-control" ng-model="sheetMusic.instrument">
		    	<option  ng-repeat="instrument in instruments | orderBy: 'name' " value="{{instrument.name}}" placeholder="Select One">{{instrument.name}}</option>
		    	</select>	      
		    	<input class="form-control" ng-model="sheetMusic.name" placeholder="Sheet Music Title" type="text" required></input>
		    	<button type="submit" class="btn btn-primary" ng-disabled="sheetMusicForm.$invalid" ng-click="addSheetMusic()">Save</button>
		    </p>
		</form>
	</div>

</div>

