<div style="text-align:center; font-size:1.5em;margin:15px">
</div>
<div class="container">   
<div ng-controller="angSongController">
  <p>Hello, {{name}}!</p>

 
    <!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-click="addItem()">Add</button>
     <div class="row h3">
          <div class="col-md-3">Title</div>
          <div class="col-md-3">Start Key</div>
          <div class="col-md-3">Aux Key</div>
          <div class="col-md-3">Note</div>
          <div class="col-md-3"></div>
     </div>

        <div class="row" ng-repeat="item in items">
          <div class="col-md-3" ng-bind="item.title"></div>
          <div class="col-md-3" ng-bind="item.start_key"></div>
          <div class="col-md-3" ng-bind="item.aux_key"></div>
           <div class="col-md-3" ng-bind="item.note"></div>
          <div class="col-md-3">  
           <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="editItem(item)">Edit</button>
           <button class="btn" ng-click="removeItem(item)">Remove</button></div>
        </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-show="displayForm">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body">
      
          <div class="form-group">  <input type="text" ng-model="song.title"  class="form-control" placeholder="Title"/></div>
          <div class="form-group"><input type="text" ng-model="song.start_key"  class="form-control" placeholder="Start Key"/></div>
          <div class="form-group"> <input type="text" ng-model="song.aux_key"  class="form-control" placeholder="Aux Key"/></div>
          <div class="form-group"> <input type="text" ng-model="song.note"  class="form-control" placeholder="Note"/></div>          
     
      </div>
      <div class="modal-footer">       
         <button class="btn btn-primary" ng-click="saveItem()">Save</button>
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>