<div ng-include="'components/navbar/navbar.html'"></div>

<div class="col-md-12">
	<span>Instrument Selected: {{instrumentSelect.name}}</span>
	<br>
	<span>Song Selected: {{songSelect.name}}</span>
	<br>
	<span>Letter Selected: {{letterSelect}}</span>
	<br>
	<span>{{directory.name}}</span>
	<a id="nextSong" class="nav nav-tabs nav-stacked col-md-2 col-lg-2 col-sm-1" ng-hide="showForm" ng-repeat="thing in awesomeThings | limitTo:-1" ng-click="currentSongSelected()" href="/sheetMusicDisplay">Next Song: {{thing.name}}</a>
	<br>
	<img src="./assets/images/{{folder.name}}/{{letterSelect}}/{{songSelect.name}}.jpg" />
</div>
