<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
<div class="btn-toolbar" role="toolbar" aria-label="...">
    <button type="button" id="addInsrument" class="btn btn-success" ng-click="addData(true)" ng-hide="showForm">Add Instrument</button>
    <button type="button" id="showInstruments" class="btn btn-success" ng-click="addData(false)" ng-show="showForm">Show Instruments</button>
</div>
  <br>
 <!--
  <div ng-hide="showForm" ng-show="showInst">
  	  <div ui-if="gridOptions.data.length>0" id="gridInstrument" ui-grid="gridOptions" class="grid" external-scopes="$scope" ui-grid-auto-resize ng-style="resize()"></div>
 -->
  	  <a href="/sheetMusic" type='button' class="btn btn-small">Select</a>

<!---
  	  <a class="nav nav-tabs nav-stacked col-md-50 col-lg-50 col-sm-50" id="repeatInstrument" ng-hide="showForm" ng-repeat="instrument in instruments | or$scope.nextSong._id;derBy: 'name' " ng-click="instrumentSelected({{instrument.name}})" href="/sheetMusic">{{instrument.name}}</a>
-->
<br> <br>
	<form class="instrument-select-form" ng-hide="showForm" name="selectInstrumentForm">
		<p class="form-group">
		<label ng-if="instrumentSelect.name">Selected Instrument:  {{instrumentSelect.name}}</label>
			<table>
			<tr ng-repeat="instrument in instruments | orderBy: 'name' " > 
			<td>{{instrument.name}}</td><td><input type="radio" ng-model="instrumentSelect.name" value="{{instrument}}" name="instSelect"/></td>
			</tr>
			</table>
			<button ng-if="instrumentSelect.name" type="submit" class="btn btn-primary" ng-click="selectInstrument()">Select</button>
			<button ng-if="instrumentSelect.name" type="submit" class="btn btn-primary" ng-click="editInstruments()">Edit</button>
			<button ng-if="instrumentSelect.name" type="submit" class="btn btn-primary btn-danger" onclick="deleteInstruments()">Delete</button>
		</p>
	</form>
 </div>


<div ng-show="showForm">
	<form class="instrument-form" ng-submit="addInstrument()" name="instrumentForm" ng-show="showForm">
	    <p class="input-group">
	      <label>Name</label>
	      <input class="form-control" ng-model="instrument.name" placeholder="Instrument Name" type="text" required></input>
	        <button type="submit" class="btn btn-primary" ng-disabled="instrumentForm.$invalid" ng-click="addInstrument()">Save</button>
	    </p>
	  </form>
  </div>

</div>


