<!-- client/app/main/main.html -->
 
<div ng-include="'components/navbar/navbar.html'"></div>
 
<div class="container">
  <div class="btn-toolbar" role="toolbar" aria-label="...">
    <button type="button" id="addData" class="btn btn-success" ng-click="addData(true)" ng-hide="showForm">Add Song</button>
    <button type="button" id="addData" class="btn btn-success" ng-click="addData(false)" ng-show="showForm">Show Songs</button>
  </div>
  <br>

  <div ng-hide="showForm">
  <div id="grid1" ui-grid="gridOptions" class="song-grid" external-scopes="$scope" ui-grid-edit></div>
  <button type="button" class="btn btn-success" ng-click="gridApi.pagination.previousPage()">
        previous page</button>
  <button type="button" class="btn btn-success" ng-click="gridApi.pagination.nextPage()">
        next page</button>
  </div>
   
  <form class="song-form" ng-submit="addSong()" name="songForm" ng-show="showForm">
    <p class="input-group">
      <label>Title</p><label>
      <input class="form-control" ng-model="song.title" placeholder="Song title" type="text" required></input>
      <label>Words</label>
      <textarea class="form-control" ng-model="song.words" rows="3" placeholder="Words" type="text" required></textarea>
      <label>Key<label>
      <input class="form-control" ng-model="song.startKey" placeholder="Starting Key" type="text" required></input>
      <input class="form-control" ng-model="song.auxKey" placeholder="Other Keys" type="text"></input>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-disabled="songForm.$invalid"
          ng-click="addSong()">Save</button>
      </span>
    </p>
  </form>
 
</div>


