<!-- client/app/main/main.html -->
 
<div ng-include="'components/navbar/navbar.html'"></div>
 
<div class="container">

<div id="grid1" ui-grid="{ data: songs }" class="grid"></div>
 
  <form class="song-form" ng-submit="addSong()" name="songForm">
    <p class="input-group">
      <label>Title</p><label>
      <input class="form-control" ng-model="song.title" placeholder="Song title" required></input>
      <label>Words</label>
      <textarea class="form-control" ng-model="song.words" rows="3" placeholder="Words" required></textarea>
      <label>Key<label>
      <input class="form-control" ng-model="song.startKey" placeholder="Starting Key" required></input>
      <input class="form-control" ng-model="song.auxKey" placeholder="Other Keys"></input>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-disabled="songForm.$invalid"
          ng-click="addSong()">Add Song</button>
      </span>
    </p>
  </form>
 
</div>


