/* client/app/song/song.styl*/
 
.song-form {
  //.clearfix();
 
  .btn-primary {
    margin-top: 7px;
    float: right;
  }
}
 
.song-list {
  padding:0;
  list-style:none;
 
  header {
    font-size: 16px;
    font-weight: bold;
  }
  li {
    //.clearfix();
    margin: 7px 0;
    padding: 5px;
    border: 1px solid #ddd;
  }
}